.box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 40px;
}

.box1 {
    box-shadow: 10px 10px;

}

.box2 {
    box-shadow: 10px 10px 10px;
}

.box3 {
    box-shadow: 10px 10px 10px 10px;
}

.box4 {
    box-shadow: 10px 10px 10px 10px purple;
}

.box5 {
    box-shadow: -20px -20px;
}