* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

body .box {
  width: 200px;
  height: 200px;
  position: absolute;
}

body .box.box1 {
  background-color: red;
  top: 200px;
  left: 300px;
  z-index: 9;
}

body .box.box2 {
  background-color: orange;
  left: 400px;
  top: 250px;
  z-index: 8;
}

body .box.box3 {
  background-color: blue;
  top: 350px;
  left: 300px;
  z-index: 7;
}

body .box.box4 {
  background-color: black;
  left: 200px;
  top: 250px;
  z-index: 6;
}